@model Calculator
@{
    ViewBag.Title = "Calculator";
}

@using (Html.BeginForm("Process", "Home", FormMethod.Post))
{
<div>
   
    <main class="calc-container">
        <form asp-action="Index" method="post">
            <div class="row">
                    <label asp-for="FirstNumber" class="control-label m-1">First Number Value</label>
                    <input asp-for="FirstNumber" class="form-control" placeholder="Type first number"/>
             @*  <span asp-validation-for="@Model.FirstNumber" class="text-danger col"></span>*@
            </div>
            <div class="row">
                    <label asp-for="SecondNumber" class="control-label m-1">Second Number Value</label>
                    <input asp-for="SecondNumber" class="form-control" placeholder="Type second number"/>
                  @*  <span asp-validation-for="@Model.SecondNumber" class="text-danger col"></span>*@
            </div>
            
            <div class="button-container">
                    <div class="col ">
                    <button type="submit" class="btn btn-primary" id="addition" value="addition" name="calculate">+</button>

                </div>
                <div class="col ">
                    <button type="submit" class="btn btn-primary" id="subtraction" value="subtraction" name="calculate">-</button>

                </div>
                <div class="col ">
                    <button type="submit" class="btn btn-primary" id="multiplication" value="multiplication" name="calculate">*</button>

                </div>
                    <div class="col">
                    <button type="submit" class="btn btn-primary" id="division" value="division" name="calculate">/</button>

                </div>
            </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-secondary">Clear</a>
                </div>
                <div class="text-center">
                    <h2>
                        @if (Model != null && String.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            @Model.ResultNumber
                        }
                        else if (Model != null)
                        {
                            @Model.ErrorMessage
                        }
                    </h2>
                </div>
        </form>
    </main>

</div>
}